---
- name: Install DevOps Tools (ArgoCD, Monitoring, Uptime Kuma)
  hosts: localhost
  connection: local
  tasks:
    # 1. ArgoCD
    - name: Create ArgoCD Namespace
      kubernetes.core.k8s:
        name: argocd
        kind: Namespace
        state: present

    - name: Install ArgoCD
      kubernetes.core.k8s:
        state: present
        src: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
        namespace: argocd

    # 2. Prometheus & Grafana (Monitoring)
    - name: Add Prometheus Helm Repo
      kubernetes.core.helm_repository:
        name: prometheus-community
        repo_url: "https://prometheus-community.github.io/helm-charts"

    - name: Install Kube-Prometheus-Stack
      kubernetes.core.helm:
        name: prometheus
        chart_ref: prometheus-community/kube-prometheus-stack
        release_namespace: monitoring
        create_namespace: true
    

    - name: Add Kyverno Helm repo
      kubernetes.core.helm_repository:
        name: kyverno
        repo_url: "https://kyverno.github.io/kyverno/"

    - name: Install Kyverno using Helm
      kubernetes.core.helm:
        name: kyverno
        chart_ref: kyverno/kyverno
        release_namespace: kyverno
        create_namespace: true


    # 3. CloudWatch Logging (Fluent Bit)
    - name: Add Fluent Bit Helm Repo
      kubernetes.core.helm_repository:
        name: eks
        repo_url: "https://aws.github.io/eks-charts"

   
   
    - name: Install Fluent Bit for CloudWatch
      kubernetes.core.helm:
        name: aws-for-fluent-bit
        chart_ref: eks/aws-for-fluent-bit
        release_namespace: logging
        create_namespace: true
        values:
          cloudWatch:
            enabled: true
            region: "us-east-1"
            logGroupName: "/aws/eks/githubactions-eks/logs"

